matplotlib==3.9.0
matplotlib-inline==0.1.7
numpy==1.26.4
packaging==24.0
pandas==2.2.2
plotly==5.22.0
scikit-learn==1.5.0
scipy==1.13.0
seaborn==0.13.2
SQLAlchemy==2.0.30
streamlit==1.34.0
joblib==1.4.2
